@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/merciful-heart');

:root {
    --primary-color: #76420c;
    --secondary-color: #AE8A68;
    --accent-color: #76420c;
    --bg-color: #fef9f5;
    --text-color: #080807;
    --danger-color:	#f42929;
    --monsterrat-font: 'Montserrat', sans-serif;
    --container-shadow: 0 0 6px 0 #d1d1d1;
    --roboto-font: 'Roboto', sans-serif;

    --bs-primary: #0d6efd;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
}

* {
    font-family: var(--monsterrat-font);
}

h1 {
    margin: 0;
}

.navbar {
    background-color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: max-content;
    z-index: 5;
    box-shadow: 0 0 5px 2px #d1d1d1;
    position: fixed;
    width: 100%;
}

.navbar-logo {
    font-size: 2rem;
    color: var(--accent-color);
    font-family: 'Merciful Heart', sans-serif;
}

#login-button {
    background-color: transparent;
    color: var(--accent-color);
    cursor: pointer;
}

#get-started-button {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
}

button,
a {
    border-radius: 8px;
    padding: 10px 20px;
    outline: none;
    border: transparent;
}

/* landing image */
.landing-image-section {
    padding: 115px 50px 50px 50px;
    display: flex;
    justify-content: center;   
}

.landing-slogan {
    color: white;
    filter: drop-shadow(5px 5px 10px #000000);
    margin: 30px 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.get-started-button {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 30px;
    font-size: 1.2rem;
    filter: drop-shadow(5px 5px 10px #000000);
    cursor: pointer;
}

.login-button {
    background-color: white;
    color: var(--primary-color);
    padding: 20px 30px;
    font-size: 1.2rem;
    filter: drop-shadow(5px 5px 10px #000000);
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 5%;
}

.landing-image-title {
    font-family: 'Merciful Heart', sans-serif;
    color: white;
    font-size: 5rem;
    margin: 30px 0;
    filter: drop-shadow(5px 5px 10px #000000);
}

.image-button-container {
    margin: 0 10%;
}

.image-container {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-image: url('images/landing-image.jpg');
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1500px;
    height: 500px;
}

/* landing menu */
.landing-menu-section {
    padding: 25px;
    margin: 100px 0 0 0;
    text-align: center;
    background-color: rgb(174, 138, 104, 0.2);
}

.menu-title {
    font-weight: bold;
    color: var(--primary-color);
}

.menu-card {
    background: white;
    height: max-content;
    width: 300px;
}

.card-image {
    width: 150px;
    height: 150px;
    aspect-ratio: 1 / 1;
}

/* explore section */
.explore-menu-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 25px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
    height: max-content;
    border-radius: 8px;
}

img {
    width: 200px;
    aspect-ratio: 1 / 1;
}

.explore-menu-button-container {
    padding: 50px;
}

.explore-main-menu-button {
    padding: 12px 80px;
    color: white;
    background-color: var(--primary-color);
}

/* about us */
#about-us {
    height: 300px;
}

.about-us-container {
    display: flex;
    justify-content: space-between;
}

.col1,
.col2,
.col3 {
    width: max-content;
}

.col1,
.col3 {
    display: flex;
    align-items: center;
}

.col1,
.col3 {
    width: 400px;
}

.col1 div {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.col3 div {
    display: flex;
    align-items: center;
    gap: 2%;
    width: 100%;
}

.col3 h5 {
    margin: 0;
}