:root {
    --primary-color: #FF9900;
    --secondary-color: #AE8A68;
    --accent-color: #FFB935;
    --bg-color: #FFFFFF;
    --text-color: #021827;
}

body {
    min-height: 100%;
    background-image: url('images/loginpage-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: grid;
    place-content: center;
    height: 100vh;
}

h2, p {
    margin: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 700px;
    padding: 50px;
    border-radius: 24px;
    background-color: var(--bg-color);
    box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.5);

}

input[name=username],
input[name=password] {
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    border: 2px solid lightgrey;
}

input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.login-form {
    width: max-content;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input[name=login-button],
input[name=signup-button],
input[name=create-button],
input[name=back-button],
input[name=admin-login] {
    padding: 4px 24px;
    background-color: transparent;
    border-radius: 8px;
    border: none;
}

input[name=login-button],
input[name=create-button],
input[name=admin-login] {
    color: white;
    background-color: var(--primary-color);
}

input[name=signup-button],
input[name=back-button] {
    border: 2px solid var(--primary-color);
}

.admin-button-container {
    width: 100%;
}

input[name=admin-login] {
    width: 100%;
}