@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #76420c;
    --secondary-color: #AE8A68;
    --accent-color: #76420c;
    --card-color: #AF723C;
    --bg-color: #FFFFFF;
    --text-color: #AE8A68;
    --monsterrat-font: 'Montserrat', sans-serif;
    --container-shadow: 0 0 6px 0 #d1d1d1;
    --roboto-font: 'Roboto', sans-serif;

    --bs-success: #14A44D;
    --bs-primary: #0d6efd;
    --bs-danger: #dc3545;
    --bs-secondary: #6c757d;
}

* {
    margin: 0;
    font-family: var(--monsterrat-font);
}

p {
    margin: 0;
}

h1 {
    font-size: 3rem;
}

html {
    height: 100vh;
}

body {
    background-color: var(--bg-color);
    height: 100%;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: max-content auto;
}

.admin-sidebar {
    background-color: var(--primary-color);
    padding: 20px 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-buttons {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
    text-align: start;
    padding: 15px 20px;
    font-size: 1.1rem;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: white;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.sidebar-buttons:hover {
    background-color: white;
    color: black;
}

/* dashboard */
.admin-dashboard-container {
    display: block;
    padding: 25px;
}

.middle-dashboard-container {
    display: flex;
}

.dashboard-cards-container {
    box-shadow: 3px 3px 5px 2px #d4d4d4;
    padding: 25px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    place-content: center;
    place-items: center;
}

.dashboard-card {
    font-size: 1.1rem;
    background-color: var(--card-color);
    color: white;
    padding: 20px 30px;
    margin: 10px 0;
    width: 250px;
    border-radius: 8px;
}

.dashboard-card p {
    font-size: 2.5rem;
}

.card-description {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-tabler {
    width: 32px;
    height: 32px;
}

.pending-orders {
    margin: 20px 20px 0 0;
    padding: 20px;
    box-shadow: 3px 3px 5px 2px #d4d4d4;
    width: 50%;
}

.charts {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 3px 3px 5px 2px #d4d4d4;
    width: 50%;
}

.orders-table {
    width: 100%;
    text-align: center;
}

.order-actions {
    padding: 10px 20px;
    background-color: var(--bs-success);
    color: white;
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
}

#order-id {
    width: 20%;
}

#order-status {
    width: 40%;
}

#order-actions {
    width: 40%;
}

/* transaction */
.admin-transaction-container {
    padding: 25px;
}

.admin-transaction-container table {
    padding: 25px;
}

.order-history-container {
    padding: 25px;
    width: 100%;
    text-align: center;
    box-shadow: 3px 3px 5px 2px #d4d4d4;
}

.order-history-table th {
    background-color: var(--secondary-color);
    color: white;
}

#view-button {
    color: white;
    padding: 5px 30px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* order details page */
.order-detail-container {
    padding: 25px;
}

.order-details {
    padding: 25px 50px;
    box-shadow: 3px 3px 5px 2px #d4d4d4;
    height: max-content;
}

.order-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.orders-icon {
    display: grid;
    place-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: lightgrey;
    color: #121213;
    aspect-ratio: 1 / 1;
}

.customer-info,
.payment-info,
.address-info {
    display: flex;
    gap: 25px;
    width: max-content;
}

.order-label {
    opacity: 0.7;
}

.od-product-title {
    margin: 50px 0 25px 0;
}

.od-row {
    display: flex;
    justify-content: space-between;
}

.od-product-table {
    text-align: start;
    width: 100%;
}

#product-image,
#product-name,
#product-quantity,
#product-subtotal,
#product-size,
#product-flavor {
    text-align: start;
}

#product-image {
    width: 5%;
}

#product-name {
    width: 20%;
}

#product-quantity {
    width: 5%;
}

#product-subtotal {
    width: 10%;
}

#product-size {
    width: 10%;
}

#product-flavor {
    width: 10%;
}

.od-product-image {
    width: 50%;
}

#orderID {
    width: 10%;
}

#orderDate {
    width: 30%;
}

#orderStatus {
    width: 30%;
}

#orderActions {
    width: 30%;
}

/* products */
.admin-products-container {
    padding: 25px;
}

.products-table {
    padding: 25px 50px;
    box-shadow: 3px 3px 5px 2px #d4d4d4;
    height: max-content;
}

.products {
    width: 100%;
}

.products th {
    text-align: start;
    color: white;
    background-color: var(--primary-color);
}

.products tr {
    vertical-align: middle;
    height: max-content;
}

.product-action-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#admin-product-id {
    width: 5%;
}

#admin-product-image {
    width: 10%;
}

#admin-product-name {
    width: 20%;
}

#admin-product-price {
    width: 10%;
}

#admin-product-type {
    width: 10%;
}

#admin-product-category {
    width: 15%;
}

#admin-product-category {
    width: 10%;
}

#admin-product-action {
    width: 20%;
}

#admin-product-stock {
    width: 5%;
}

.admin-product-image {
    width: 50px;
    aspect-ratio: 1 / 1;
}

.null-image {
    display: grid;
    place-content: center;
    color: white;
    background-color: lightgrey;
    border-radius: 8px;
}

.product-action {
    font-size: 0.9rem;
    padding: 8px 16px;
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
}

button[name=add-product-stock] {
    color: white;
    background-color: var(--bs-primary);
}

button[name=edit-product] {
    color: white;
    background-color: var(--bs-secondary);
}

button[name=retire-product] {
    color: white;
    background-color: var(--bs-danger);
}

/* admin edit product */
.admin-edit-product-container {
    padding: 25px;
}

.product-edit-container {
    padding: 25px 50px;
    box-shadow: 3px 3px 5px 2px #d4d4d4;
    height: max-content;
}

.admin-edit-product-image {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.product-edit-container form {
    display: flex;
    justify-content: space-around;
}

input[class=admin-edit-field],
select {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid grey;
}

button[name=retire-button],
button[name=save-button] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

button[name=retire-button] {
    background-color: var(--bs-danger);
    color: white;
}

button[name=save-button] {
    background-color: var(--bs-primary);
    color: white;
}

.edit-product-title {
    display: flex;
    justify-content: space-between;
}

.col1,
.col2,
.col3 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.col1 {
    justify-self: center;
}

.col3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col3 div:first-child {
    display: flex;
    flex-direction: column;
}

.bottom-button-container {
    display: flex;
    justify-content: end;
    gap: 2%;
}

#product-price-field::-webkit-outer-spin-button,
#product-price-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* users list */
.admin-users-container {
    padding: 25px 50px;
    box-shadow: 3px 3px 5px 2px #d4d4d4;
    height: max-content;
}

#user-id {
    width: 20%;
}

#username {
    width: 40%;
}

#user-role {
    width: 40%;
}
