@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/merciful-heart');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #76420c;
    --secondary-color: #AE8A68;
    --accent-color: #76420c;
    --bg-color: #FFFFFF;
    --text-color: #AE8A68;
    --danger-color:	#f42929;
    --monsterrat-font: 'Montserrat', sans-serif;
    --container-shadow: 0 0 6px 0 #d1d1d1;
    --roboto-font: 'Roboto', sans-serif;
}

* {
    font-family: var(--monsterrat-font);
    padding: 0;
    margin: 0;
}

.navbar-logo {
    font-family: 'Merciful Heart', sans-serif;
}

body {
    height: 100vh;
    background-color: #fafafa;
}

.wrapper {
    height: 80%;
}

.main-page {
    display: grid;
    grid-template-rows: 100px auto;
}

.menu-navigation {
    width: 100%;
    right: 0;
    display: flex;
    height: max-content;
    justify-content: space-between;
}

.buttons {
    justify-content: space-evenly;
    width: auto;
}

.buttons,
.search-bar {
    padding: 20px 20px;
    display: flex;
    align-items: center;
}

#search-field {
    background-color: var(--bg-color);
    color: grey;
    padding: 4px 8px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    outline: none;
}

#foods-button,
#beverages-button {
    margin: 10px;
    width: 150px;
    background-color: var(--bg-color);
    padding: 4px 16px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    outline: none;
}

.product-category-title {
    text-align: center;
}

.products-container,
.cart-container,
.profile-container,
.orders-container,
.address-container,
.payments-container,
.view-order-container,
.edit-address-container {
    padding: 105px 25px 25px 25px;
}

.category {
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 350px;
    place-content: center;
    place-items: center;
}

.product-image {
    margin-bottom: 10px;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: lightgray;
}

.product-card {
    padding: 30px;
    width: 150px;
    height: 250px;
    border-radius: 10px;
    box-shadow: var(--container-shadow);
}

.product-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-action {
    width: 100%;
    display: flex;
    justify-content: end;
}

input[name=add-to-cart-button] {
    padding: 5px 20px;
    background-color: var(--primary-color);
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

/* cart page */
.cart {
    background-color: white;
    width: 65%;
    padding: 25px;
    margin-top: 20px;
    box-shadow: var(--container-shadow);
}

.cart-image {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-color: lightgrey;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.cart-column-1,
.cart-column-2 {
    display: flex;
    align-items: center;
    width: 50%;
    text-wrap: nowrap;
    gap: 5%;
}

.cart-column-2 { justify-content: end; }

.cart-description {
    width: max-content;
}

.quantity-field {
    width: 10%;
    padding: 10px 20px;
    outline: none;
}

.cart-total,
.cart-checkout-container {
    display: flex;
    justify-content: end;
}

.check-out-button {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 25px;
    margin-top: 20px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
}

.remove-item-button {
    display: grid;
    place-content: center;
    background-color: var(--danger-color);
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
}

.bi-x {
    fill: white;
    width: 40px;
}

/* profile page */
.profile-title,
.address-title,
.orders-title,
.payments-title,
.view-order-title,
.cart-title {
    margin: 0 0 20px 0;
}

.profile-container,
.address-container,
.orders-container,
.payments-container,
.view-order-container,
.edit-address-container,
.cart-container {
    display: flex;
    justify-content: center;
}

.profile,
.address,
.orders,
.payments,
.view-orders,
.edit-address {
    width: 65%;
    margin-top: 20px;
    display: flex;
    gap: 1%;
    height: 100%;
}

.personal-data-container,
.personal-address-container,
.personal-orders-container,
.personal-payments-container,
.personal-view-orders-container,
.personal-edit-address-container {
    background-color: white;
    width: 100%;
    height: max-content;
    padding: 25px;
    margin-top: 20px;
    box-shadow: var(--container-shadow);
}

.profile-container {
    height: 100%;
}

.bi-person-square {
    height: 250px;
    width: 250px;
    fill: grey;
}

.personal-data {
    display: flex;
    gap: 10%;
}

.contact-info {
    width: 50%;
}

.personal-details {
    text-wrap: balance;
}

.personal-details p {
    text-wrap: balance;
}

.contact-item {
    width: max-content;
    min-width: 230px;
    height: max-content;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #e7e7e7;
    border-radius: 10px;
}

.personal-data p {
    font-size: 1.3rem;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 50%;
}

.receiver-info {
    display: flex;
    justify-content: space-between;
}

.address-line,
.orders-line,
.profile-line,
.payments-line,
.view-order-line,
.edit-address-line,
.cart-line {
    margin: 10px 0;
    opacity: 0.5;
}

#address-edit,
#edit-payment {
    color: blue;
}

.order-image {
    width: 120px;
    aspect-ratio: 1 / 1;
    background-color: lightgrey;
}

.order-details {
    width: max-content;
}

.bi-arrow-right-short {
    width: 20px;
    fill: green;
    aspect-ratio: 1 / 1;
}

#view-order {
    display: flex;
    align-items: center;
    color: green;
}

.receiver-info,
.order,
.payment-details,
.view-order-details {
    padding: 20px 0;
}

.order {
    display: flex;
    justify-content: space-between;
}

.order-status {
    display: flex;
    align-items: center;
}

.order-detail-title {
    margin-bottom: 5px;
}

.order-item {
    list-style: none;
    margin: 10px 0;
}

.view-order-details {
    display: flex;
}

.payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-order-details div:nth-child(1), 
.view-order-details div:nth-child(2) {
    width: 50%;
}